.sharp-plus-sign {
  position: relative;
  width: 50px;
  height: 50px;
}

.sharp-plus-sign::before,
.sharp-plus-sign::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fcce02;
}

/* Horizontal line */
.sharp-plus-sign::before {
  width: 80%;
  height: 2px;
  margin-left: -40%;
}

/* Vertical line */
.sharp-plus-sign::after {
  height: 80%;
  width: 2px;
  margin-top: -40%;
}

.sharp-minus-sign {
  position: relative;
  width: 50px;
  height: 2px;
  background-color: #fcce02;
}

.division-icon {
  position: relative;
  width: 50px;
  height: 50px;
}

.division-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  width: 80%;
  height: 2px;
  transform: translate(-50%, -50%);
}

.division-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  width: 2px;
  height: 80%;
  transform: translate(-50%, -50%);
}

.sharp-equal-sign {
  position: relative;
  width: 50px;
  height: 50px;
}

.sharp-equal-sign::before,
.sharp-equal-sign::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fcce02;
  width: 80%;
  height: 2px;
  transform: translate(-50%, -50%);
}

.sharp-equal-sign::after {
  top: calc(50% - 1px);
}

.sharp-product-sign {
  position: relative;
  width: 50px;
  height: 50px;
}

.sharp-product-sign::before,
.sharp-product-sign::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fcce02;
}

/* Horizontal line */
.sharp-product-sign::before,
.sharp-product-sign::after {
  width: 80%;
  height: 2px;
  margin-left: -40%;
}

/* Vertical line */
.sharp-product-sign::before {
  transform: rotate(45deg);
}

.sharp-product-sign::after {
  transform: rotate(-45deg);
}
